<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <boxofhope_returnlabelplugin>
            <general>
                <enable>1</enable>
                <testing_mode>0</testing_mode>
            </general>
        </boxofhope_returnlabelplugin>
    </default>
</config>
